/* Boletim */
.txt-center{
    text-align: center !important;
}
.logo_rj{
    float: left;
    height: 14%;
    width: 14%;
    display: inline;
}
.logo_eteot{
    height: 100px;
    width: 100px;
    display: inline !important;
}
.total-bol{
	text-align:center;
}
.total-bol th{
    border: 0.5px solid black !important;

    vertical-align: middle!important
}
/*.faltas_sit{
    font-size: 8px;
}*/
.tbody-bol td{
    border: 0.1px solid black !important;
    /*font-size: 9px;*/
}


/*table#body_bol td{
	border:solid 1px black !important;
    margin-bottom: 70px !important;
}*/

.td_bol{
    border: solid 1px black !important;
    margin: 0px 0px 0px 0px !important;
}
.ref{background:#e4e4e4}
.red-not{background-color:#CC0000; color:#FFF;}
.rodape{
	width:100%;
	bottom:0;
	font-size:10px !important;
}
.rodape .pag{
	width:20%;
	float:left;
}
.rodape .emiss{
	text-align:right;
}
.table-sm td,
.table-sm th {
    padding: .3rem
}


/* Declaração */
.logo_rj_dec{
    float: left;
    height: 12%;
    width: 12%;
    display: inline;
}
.topo-declaracao{
    text-align: left;
    padding: -50px !important;
    line-height: 20px;
}
.dec_tit{
    padding: 110px 0px 25px;
    text-align: center;
}
.dec_txt{
    font-size: 15px;
    line-height: 30px;
}
.dec_nome{
    text-align: center;
    font-style: italic;
}
.num_mat{
    font-size: 15px;
    line-height: 5px;
}
.data{
    text-align: center;
}

/* Alunos por turma */

.table th, .table td, .table tr {
    margin: 0px 0px 0px 0px;    
}

table {
    border-collapse: collapse;
}
thead {
    vertical-align: bottom;
    text-align: center !important;
    font-weight: bold;
}
/*th {
    text-align: left;
    padding-left: 0.35em;
    padding-right: 0.35em;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    vertical-align: top;
}
td {
    padding-left: 0.35em;
    padding-right: 0.35em;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    vertical-align: top;
}*/
